<p>Current transactions</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Amount</th>
      <th scope="col">Sender</th>
      <th scope="col">Recipient</th>
    </tr>
  </thead>
  <tbody>
	{{#each results1}}

    <tr>
      <th scope="row">3</th>
      <td>{{this.amount}}</td>
      <td>{{this.sender}}</td>
      <td>{{this.recipient}}</td>
    </tr>
	{{/each}}
	<tr>
	<form action="api/blockchain_calc" method="post">
		
		<th class="row" > TR</th>
		<td><input type="text" name="amount"></td>
		<td><input type="text" name="sender"></td>
		<td><input type="text" name="recipient"></td>
		 <td><input type="submit" value="Send" class="btn btn-primary btn-block"></td>

	</form>
	</tr>
	
		
			
		

	
  </tbody>
</table>

<hr>
<hr>

<div class="scrollmenu">
	{{#each results2}}
		<ul class="list">

				<li class="list-group-item">Block: {{this.index}}</li>
				<li class="list-group-item">Time: {{this.timestamp}}</li>
				<li class="list-group-item"> Nonce: {{this.nonce}}</li>
				<li class="list-group-item">hash: {{this.hash}}</li>
				<li class="list-group-item">Previous hash: {{this.previousBlockHash}}</li>
		</ul>
		<hr>
	{{/each}}


</div>

<a href="api/blockchain_calc/newblock"><button class="btn btn-primary btn-block">Miner</button> </a>








